.header {
    margin-top: 56px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        color: #233348;
        font-family: 'Muli';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
